---
import Layout from '../layouts/Layout.astro';
import HeroImage from '../components/HeroImage.astro';
import ContenPost from '../components/ContenPost1.astro';
import Partenaires from '../components/Partenaires.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroImage/>
		<ContenPost/>
		<Partenaires/>
	</main>
</Layout>