---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import Scripts from "../components/Scripts.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" />
        <title>PYNGROUP | Révolutionnez vos Paiements, Simplifiez votre Monde.</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700&display=swap" rel="stylesheet">
        <script
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
        is:inline
        ></script>
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <AppFooter />
        <Scripts />
    </body>
</html>
<style>
    html {
        font-family: 'Saira', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
